<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=`, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>게시물</title>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <table class="table table-bordered">
      <tr>
        <th>Title</th>
        <td><%= matched.title %></td>
        <th>작성자</th>
        <td><%= matched.author %></td>
      </tr>
    </table>
    <table class="table table-bordered">
      <tr>
        <td><%= matched.body %></td>
      </tr>
    </table>
    <table class="table table-bordered">
      <% matchedCom.forEach(item => { %>
        <tr>
          <td>작성자</td>
          <td><%= item.nickName %></td>
          <td>댓글</td>
          <td><%= item.comments %></td>
        </tr>
      <% }) %>
    </table>
    <form action="/content/<%= matched.num %>" method="post">
      <table class="table table-bordered">
        <tr>
          <td><input type="text" name="nickName" placeholder="Please type your Nickname" class="form-control"></td>
          <td><input type="text" name="comments" placeholder="댓글을 써주세요" class="form-control"></td>
        </tr>
        <tr>
          <td colspan="2"> 
            <input type="submit" value="등록" class="btn btn-outline-success" name="ADD">
            <a href="/" class="btn btn-outline-success float-right">목록</a>
          </td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>